.cart-container {
  background-color: $background-color-gary;
  padding: 50px 42px;
  display: flex;
  justify-content:space-around;
  .container-list {
    margin-right: 20px;
    width: 220px;
    .list-title {
      text-align: center;
      font-weight: bold;
      font-size: $font-l;
      margin-bottom: 15px;
      i {
        margin-right: 15px;
      }
    }
    .list-section {
      border-bottom: 1.5px solid $font-color;
      a {
        height: 32px;
        display: block;
        width: 100%;
        color: $font-color;
        padding: 5px;
      }
      a:hover {
        color: white;
        background-color: $font-color;
      }
    }
  }
  .container-meau {
    .meau-search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search-bar {
        position: relative;
        input {
          width: 460px;
          height: 32px;
          border: 2px solid $font-color;
        }
        button {
          border: none;
          width: 36px;
          height: 32px;
          color: white;
          background-color: $font-color;
          position: absolute;
          right: 0;
        }
      }
      .search-cart {
        a {
          color: $font-color;
          margin-right: 12px;
        }

        a:hover {
          transition: all 0.5s;
          color: $orange;
        }

        i {
          font-size: 27px;
        }
        span {
          margin-right: 12px;
        }
      }
    }

    .meau-list {
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .meau-box {
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
        text-align: center;
        width: 220px;
        margin-bottom: 30px;
        background-color: $background-color-footer;
        position: relative;
        .fa-heart-o, .fa-heart{
          top:5px;
          left: 5px;
          font-size: 20px;
          color:white;
          position: absolute;
        }
        img {
          width: 220px;
          height: 120px;
        }
        .box-title {
          padding-top: 10px;
          font-size: $font-l;
        }
        .box-title-s {
          font-size: $font-s;
        }
        span {
          margin: 8px auto 20px auto;
          display: block;
          width: 90px;
          height: 1px;
          background-color: $font-color;
        }

        button {
          margin: 10px auto;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          color: $orange;
          border: 1px solid $orange;
          border-radius: 3px;
          i {
            margin-right: 7px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .cart-container {
    flex-direction: column;
    .container-list {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .cart-container {
    .container-meau {
      .meau-search {
        flex-direction: column;
        .search-cart {
          margin-top: 20px;
          margin-left: 330px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .cart-container {
    padding: 50px 5px;
    .container-meau {
      .meau-search {
        .search-bar {
          input {
            width: 300px;
            height: 32px;
            border: 2px solid $font-color;
          }
        }
        .search-cart {
          margin-left:175px;
        }
      }
      .meau-list {
        margin-top: 26px;
        .meau-box {
          margin:0 auto 30px auto;
          width: 300px;
          background-color: $background-color-footer;
          img {
            width: 300px;
          }
        }
      }
    }
  }
}
