<footer>
    <ul>
      <li>
        <h3>關於六角西餐廳</h3>
        <p>
          Curabitur lobortis id lorem id bibndum.<br> Ut id consectetur magna.
          Quisque <br> volutpat augue enim, pulvinar lobortis <br> nibh lacinia at.
        </p>
      </li>
      <li>
        <h3>聯絡方式</h3>
        <p>
          • 高雄市中正五路到底 <br />
          • +886 886 886
          <br />
          • service@hexschool.com
        </p>
      </li>
    </ul>
    <div class="footer-logo">
      <h1>六角西餐廳</h1>
        <div class="media">
          <a href="#" class="google"
            ><i class="fa fa-google-plus-square" aria-hidden="true"></i>
          </a>
          <a href="#" class="twitter"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a href="#" class="fb"
            ><i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </div>
    </div>
</footer>