//font
$font-family: sans-serif;

$font-l: 20px;
$font-m: 14px;
$font-s: 12px;
$title-l: 40px;
$title-m: 28px;
$title-s: 24px;


//color
$green:#20c958;
$gary: #979797;
$orange: #f56c23;
$white: white;
$font-color: #3d1101;
$font-color-light: #efe9e7;

$background-color-gary: #ededed;
$background-color-footer: #eae3e3;


//maxin
@mixin input() {
  height: 32px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0px 1px 0px 0px #ececec;
  border-radius: 3px;
}

@mixin button($color) {
  display: inline-block;
  height: 32px;
  color: white;
  border-radius: 3px;
  border: none;  
  cursor: pointer;
  background: $color;
}


